{% extends 'layout.html' %}

{% block body %}
<div class='container p-4 page-header'>
	<h1>What is 'Pocket?'<h1>
</div>

<div class='container p-2'>
	<p class='lead'>Pocket is a website that helps you to track your expenses and incomes periodically. With Pocket, you'll always have your payments, savings and credit with you without going through the hassle to count them! Not only that, Pocket also helps you to keep track of your bills when they are split among a group of peers.</p>
</div>
<div class='p-2 text-center'>
	<button type='button' class='text-center btn btn-primary btn-lg' href='/'> Proceed </button>
</div>

{% endblock %}
