{% extends 'layout.html' %}

{% block body %} 
	<div class='row' style='height:250px;'>
		<div class='col-md-6'>
			<div class='text-center '>
				<img src='you.jpeg' class='rounded' alt='Image unavailable.'>
			</div>
		</div>
		<div class='col-md-6 container p-5' >
			<p class='lead'> Never lose track of your money again! Join now to gain access to a free wallet that goes along with you everywhere.</p>
		</div>
	</div>
	<div class='row' style='height:250px;'>
		<div class='col-md-6 container p-5'>
			<p class='lead'> Every relation is important. We are here to take care that you never miss a bill again! Split bills with your friends using our 'friends' service. </p>
		</div>
		<div class='col-md-6'>
			<div class='text-center'>
				<img src='friends.jpeg' class='rounded' alt='Image unavailable.'>
			</div>
		</div>
	</div>
{% endblock %}
