{% extends 'layout.html' %}



{% block body %}
	<img src = '/static/aboutus2edited.jpg' height='685px' width='1600px'>
	<div class='welcome'> Welcome </div>
	<div class='taglinewelcomepage'> Enter your email-id below; we'll figure out whether you're logging in or signing up! </div>
	<div class='formuser'> 
		<form type='POST' action="{{url_for ('enter')}}">
			<input type='text' class='form control username' name='username' placeholder="Email-id" size="30">
		</form>
		<button class='button'><span><strong> Go </strong></span></button>
	</div>



{% endblock %}